<div class="container">
    <div class="row">
        <p class="h1 text-center">Welcome to VakıfCommerce
            <br>
            <small class="text-muted">We prioritize customer satisfaction</small>
        </p>
        <hr>
    </div>

    <div class="myrow" *ngFor="let item of this.categoryArray">
        <div class="col-lg-12">
            <a routerLink="../products/{{item.CategoryId}}" routerLinkActive="active" class="list-group-item clearfix">
                <div class="pull-left">
                    <h1 class="display-1">{{item.CategoryName}}</h1>
                    <p class="lead">Click to browse all consoles!</p>
                </div>
                <span class="pull-right">
                    <img [src]="item.CategoryImgPath" alt="procuduct image" class="img-responsive">
                </span>
            </a>
        </div>
    </div>
</div>




