<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <img src="{{product.ProductImgPath}}" alt="{{product.ProductName}}"  class="img-responsive" style="max-height: 100px;">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h1 class="display-1">{{product.ProductName}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">  
            <button
                type="button"
                class="btn btn-success" 
                (click)="addToList()"
                >Add to Shopping List
            </button>
            <button
                type="button"
                class="btn btn-danger"
                (click)="removeFromList()"
                >Remove From Shopping List
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
        <p class="lead"> {{product.ProductName}} | {{product.ProductPrice}}</p>
        </div>
    </div>
</div>




